.app {
    text-align: center;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
}

.title {
    margin-bottom: 3%;
    font-weight: 10000;
}

.button {
    background-color: #419e44;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #347c38;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 8px 16px 0 rgba(0,0,0,0.19);
}


#commandInput {
    margin-top: 10px;
    margin-bottom: 10px;
}

#greeting {
    font-weight: normal;
    font-style: italic;
    padding-bottom: 2%;
    font-size: medium;
}

#dateTime {
    display: inline;
    font-weight: bolder;
}

#answer {
    margin-top: 2%;
    font-size: xx-large;
    font-weight: bolder;
}

#askBtn {
    margin-top: 1.2%;
}